<!DOCTYPE html>
<html> 
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>来聚米邀好友拿收益</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
<style type="text/css">
html,body{background:#FFF;}
.freeTravelButton{
	display: inline-block;
	background:#2867c6;
	border-radius: 1rem;
	height: 2rem;
	padding:0 2.25rem;
	line-height: 2rem;
	color: #FFF;
	text-align: center;
	margin:0 0.5rem;
}
.freeTravelButton.border{
	border:1px solid #2867c6;
	background:#FFF;
	color:#2867c6;
}
</style>
</head>
<body>
	<img src="/h5/images/activity/freeTravel/freeTravel-01.jpg" alt="" style="width:100%;">
	<img src="/h5/images/activity/freeTravel/freeTravel-02.jpg" alt="" style="width:100%;">
	<img src="/h5/images/activity/freeTravel/freeTravel-03.jpg" alt="" style="width:100%;">
	<div style="padding:1rem 1rem 3rem;text-align:center; background:url(/h5/images/activity/freeTravel/freeTravel-04.jpg) no-repeat; background-size:100%;">
		<a href="/phone/detail/375.html" class="freeTravelButton">参与众筹</a>
		<a href="/h5/views/account/invite/invite.html" class="freeTravelButton border">邀请好友</a>
	</div>
</body>
</html>