<!DOCTYPE html>
<html> 
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>聚米女王节 最好的爱马仕献给最好的你</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
<style type="text/css">
html,body{
	background:#FFF;
	width:100%;
}
.wrap{
	width:100%;
	height:100%;
    position: relative;
}
.investmentRight{
	display: block;
	width:36%;
	height:1%;
	position: absolute;
    left:50%;
    margin-left: -18%;
    bottom:1%;
}
</style>
</head>
<body>
    <div class="wrap">	  
	    <img src="/h5/images/activity/womenDay/womenDay.jpg" style="width:100%">
	    <a href="/phone/detail/444.html" class="investmentRight"></a>   
	</div>  
</body>
</html>