<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>处理结果</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
</head>
<body>
	<!-- loading -->
	<div id="myloading" class="loading">
		<img src="/h5/images/loading.gif" alt="" width="100"/>
	</div>

	<div id="box">
		<template id="rechargeTemplate">
			<div class="group group-noborder" style="padding-bottom: 1rem;">
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan" style="padding-bottom: 0;">
							<p class="textcenter" style="padding-top: 3rem;"><i class="iconfont font-40 clr-green">&#xe611;</i></p>
						</div>
					</div>
					<div class="group-rowspan">
						<div class="group-colspan" style="padding-bottom: 0;padding-top:0;">
							<p class="textcenter font-26">处理成功</p>
						</div>
					</div>
					<div class="group-rowspan clr-gray" style="padding-bottom: 1rem;">
						<div class="group-colspan">
							<p class="textcenter">返回结果。返回描述</p>
							<p class="textcenter">实际到账以短信通知为准</p>
						</div>
					</div>					
					<div class="group-rowspan group-excel2">
						<div class="group-colspan">
							<button type="button" class="button button-block" @click="backindex">首页</button>
						</div>
						<div class="group-colspan">
							<button type="button" class="button button-fill button-block" @click="back" >返回</button>
						</div>
					</div>	
				</div>
			</div>
		</template>
		<my-recharge></my-recharge>
	</div>
	
	<script type="text/javascript" src="/h5/javascripts/require.js"></script>
	<script type="text/javascript" src="/h5/javascripts/app.js"></script>
	<script type="text/javascript">
		requirejs(['account/assets/rechargeSuccess']);
	</script>
</body>
</html>