<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>开户认证(1/2)</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
</head>
<style type="text/css">
.userpwdreal,.userconfirmpwdreal{width:100%;-webkit-text-security:disc;text-security:disc;padding-top:0.8rem;}
.havacode{border:0;background: #ffffff;color:#ec6121;opacity: 0.5;width:100%;}
.form-control-noborder{display: block;width:100%;}
</style>
<body>
	<!-- loading -->
	<div id="myloading" class="loading">
		<img src="/h5/images/loading.gif" alt="" width="100"/>
	</div>

	<!-- 未开户 -->
	
	<div id="box">
		<form action="javascript:void(0)" id="form" data-form>
			<div class="group">
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">真实姓名</div>
						<div class="group-colspan">
							<input type="text" id="realname" name="realname" v-model="realname" placeholder="请输入真实姓名" class="form-control-noborder" @blur="nameBlur" @keyup="nameKeyUp"/>
						</div>
					</div>
				</div>
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">身份证号</div>
						<div class="group-colspan">
							<input type="text" id="idNumber" name="idNumber" v-model="idNumber" placeholder="请输入有效身份证号" class="form-control-noborder" @blur="idNumberBlur" @keyup="idNumberKeyup" maxlength="18" proving="0" />
						</div>
					</div>
				</div>
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">银行卡号</div>
						<div class="group-colspan">
							<input type="tel" id="bankcard"  name="bankcard" v-model="bankcard" placeholder="请输入银行卡号" class="form-control-noborder" @blur="bankcardBlur" @keyup="bankcardKeyup" maxlength="21" proving="0" />
						</div>
					</div>
				</div>	
				<div class="group-item">
					<div class="group-rowspan" style="position: relative;">
						<label for="userpwdreal" class="group-colspan">设置支付密码</label>
						<input type="tel" class="userpwdreal form-control-noborder" name="userpwdreal" id="userpwdreal" v-model="userpwdreal" maxlength="6" @keyup="userpwdrealKeyup" proving="0" placeholder="请输入6位数字支付密码">
					</div>
				</div>
				<div class="group-item">
					<div class="group-rowspan" style="position: relative;">
						<label for="userconfirmpwdreal" class="group-colspan">确认支付密码</label>
						<input type="tel" class="userconfirmpwdreal form-control-noborder" name="userconfirmpwdreal" id="userconfirmpwdreal" v-model="userconfirmpwdreal" maxlength="6" @keyup="userconfirmpwdrealKeyup" proving="0" placeholder="请再次输入支付密码">
					</div>
				</div>
<!-- 				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">预留手机号</div>
						<div class="group-colspan">
							<input type="tel" id="reservephone"  name="reservephone" v-model="reservephone" placeholder="请输入银行预留手机号" class="form-control-noborder" @keyup="reservephoneKeyup" maxlength="11" proving="0" />
						</div>
					</div>
				</div>
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">短信验证码</div>
						<div class="group-colspan" style="width:40%;">
							<input type="tel" id="phonecode"  name="phonecode" v-model="phonecode" placeholder="请输入验证码" class="form-control-noborder" @keyup="phonecodeKeyup" style="width:100%;" maxlength="6" proving="0" />
						</div>
						<div class="group-colspan">
							<button class="textcenter font-14 havacode" disabled="disabled" @click="havacode" v-model="clickstatuscode">获取验证码</button>
						</div>
					</div>
				</div> -->
			</div>		
			
			
			<div class="group group-transparent group-noborder">
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">
							<a href="javascript:void(0)" class="clr-gray right" @click="supportBankcard">支持的银行卡列表 <i class="iconfont" >&#xe60c;</i></a>
						</div>
					</div>
				</div>
				<div class="group-item">
					<div class="group-rowspan">
						<div class="group-colspan">
							<button type="button" class="button button-fill button-block" @click="next" v-model="clickstatus" disabled>立即开户</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	
		<!-- 支持绑定的银行卡 -->
		<div id="bankcardListBox" style="display:none;">
			<table class="table table-border">
				<thead>
					<tr>
						<td><span class="font-10">银行名称</span></td>
						<td><span class="font-10">单笔限额</span></td>
						<td><span class="font-10">单日限额</span></td>
						<td><span class="font-10">单月限额</span></td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="backcard in backcardList">
						<td><span class="font-10">{{backcard.bankName}}</span></td>
						<td><span class="font-10">{{backcard.once}}</span></td>
						<td><span class="font-10">{{backcard.oneDay}}</span></td>
						<td><span class="font-10">{{backcard.oneMonth}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<form action="javascript:void(0);" id="payForm" method="post" style="display: none;">
		<input type="text" name="req_data" id="req_data">
	</form>
	
	<script type="text/javascript" src="/h5/javascripts/require.js"></script>
	<script type="text/javascript" src="/h5/javascripts/app.js"></script>
	<script type="text/javascript">
		requirejs(['account/settings/bankcardToBind']);
	</script>
</body>
</html>