<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>银行卡</title>
    <link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
    <link rel="stylesheet" type="text/css" href="/h5/styles/jumi.css">
    <style type="text/css">
        .changeBank {
            width: 35.625vw;
            margin: 3.125vw auto;
            display: block;
            background: #f4f4f4;
            color: #999999;
            border: 1px solid #d8d8d8;
        }

        .limitTips {
            display: inline-block;
            margin-left: 18.375vw;
            color: #FFFFFF;
            font-size: 3.2vw;
        }
    </style>
</head>

<body>
    <!-- loading -->
    <div id="myloading" class="loading">
        <img src="/h5/images/loading.gif" alt="" width="100" />
    </div>
    <div id="box">
        <template id="backlistTemplate">
            <div class="group" style="background:#f4f4f4;margin-top:4vw;margin-bottom:0;">
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan">请选择您要绑定的银行卡</div>
                        <div class="group-colspan">
                            <a href="javascript:void(0)" class="clr-gray right" @click="supportBankcard">银行卡支持列表
                                <i class="iconfont">&#xe60c;</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="myCardlist">
                <li class="bankcard" v-for="item in bankHistories">
                    <img :src="item.bankBackground || '/h5/images/account/bankBg.png'" alt="银行卡背景色" class="bankBgcolor">
                    <div class="bank-con">
                        <img :src="item.bankLogo" class="bank-logo-show">
                        <span class="bank-name-show">{{item.bankName}}</span>
                        <a href="JavaScript:void(0)" class="clr-white" @click="delBank(item.id)">删除</a>
                        <a href="JavaScript:void(0)" style="margin-left:3vw;font-weight: bolder;" class="clr-white" @click="bindBank(item.bankCardNo)">绑定</a>
                        <div>
                            <span class="limitTips">单笔限额：{{item.once}}元;</span>
                            <span class="limitTips" style="margin-left:10vw;">单日限额：{{item.oneDay}}元</span>
                            <span class="limitTips">单月限额：{{item.oneMonth}}元;</span>
                        </div>
                        <p class="cardnum">
                            <span>* * * *</span>
                            <span>* * * *</span>
                            <span>* * * *</span>
                            <span style="font-size:6vw;">{{item.bankCardNo | fourBankcard}}</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div class="bankcard" id="noBankcard">
                <p class="textcenter" style="padding-top: 4.6rem;">
                    <i class="iconfont font-16">&#xe620;</i>
                    <a href="javascript:void(0);" style="text-decoration: underline;padding-left: 0.3rem;" class="clr-gray" @click="addBankcard">添加新卡</a>
                </p>
                <p class="cardnum" style="height:2.8rem;"></p>
            </div>

            <form action="javascript:void(0);" id="payForm" method="post" style="display: none;">
                <input type="text" name="req_data" id="req_data">
            </form>


            <!-- 支持绑定的银行卡 -->
            <div id="bankcardListBox" style="display:none;">
                <table class="table table-border">
                    <thead>
                        <tr>
                            <td>
                                <span class="font-10">银行名称</span>
                            </td>
                            <td>
                                <span class="font-10">单笔限额</span>
                            </td>
                            <td>
                                <span class="font-10">单日限额</span>
                            </td>
                            <td>
                                <span class="font-10">单月限额</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="backcard in jmOnlineBanks">
                            <td>
                                <span class="font-10">{{backcard.bankName}}</span>
                            </td>
                            <td>
                                <span class="font-10">{{backcard.once}}</span>
                            </td>
                            <td>
                                <span class="font-10">{{backcard.oneDay}}</span>
                            </td>
                            <td>
                                <span class="font-10">{{backcard.oneMonth}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </template>
        <my-backlist></my-backlist>
    </div>
    <script type="text/javascript" src="/h5/javascripts/require.js"></script>
    <script type="text/javascript" src="/h5/javascripts/app.js"></script>
    <script type="text/javascript">
        requirejs(['account/settings/banklist']);
    </script>
</body>

</html>