<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>找回支付密码</title>
    <link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
    <link rel="stylesheet" type="text/css" href="/h5/styles/jumi.css">
    <style type="text/css">
        .getVoicecode {
            border: none;
            outline: none;
            background: #fff;
            color: #ec6121;
            font-size: 3.73vw;
        }

        .getVoicecode.disabled {
            color: #bfbfbf;
        }
    </style>
</head>

<body class="bg">
    <!-- loading -->
    <div id="myloading" class="loading">
        <img src="/h5/images/loading.gif" alt="" width="100" />
    </div>

    <template id="passwordForgetTemplate">
        <form action="javascript:void(0)" id="formForgetPassword">
            <div class="group group-noborder group-form">
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan">
                            <input type="tel" v-model="phone" disabled placeholder="请输入手机号" class="form-control form-border"
                                style="background:#F6F6F6;color:#999;" maxlength="11" />
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan">
                            <input type="tel" v-model="phone_code" @keyup="inputCodeKeyup" placeholder="请输入验证码" class="form-control form-border" />
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan" id="getCodeButtonBox" style="position:relative;">
                            <button class="button button-fill button-block getCode" :class="{'disabled':isShowHide}"
                                @click="getCode">获取验证码</button>
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan">
                            <div id="sliderNc"></div>
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan" style="text-align: right;">
                            <span class="clr-gray">收不到短信？</span>
                            <button @click="getVoicecode" class="getVoicecode disabled" disabled="disabled">获取语音验证码</button>
                        </div>
                    </div>
                </div>
                <div class="group-item">
                    <div class="group-rowspan">
                        <div class="group-colspan">
                            <button type="button" class="button button-fill button-block" :class="{'disabled':isShowHideRegister}"
                                @click="ok">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </template>
    <my-passwordforget></my-passwordforget>

    <script type="text/javascript" src="/h5/javascripts/require.js"></script>
    <script type="text/javascript" src="/h5/javascripts/app.js"></script>
    <!-- 人机校验（阿里的滑动验证） -->
    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/nch5/index.js"></script>
    <script type="text/javascript">
        requirejs(['account/settings/forgetPaypwd']);
    </script>
</body>

</html>