<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>修改支付密码</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
<style type="text/css">
input{
    -webkit-text-security:disc;
    text-security:disc; /*使用指定形状代替文字显示 circle圆圈 disc 圆形 square 正方形*/
}
</style>
</head>
<body>
	<!-- loading -->
	<div id="myloading" class="loading">
		<img src="/h5/images/loading.gif" alt="" width="100"/>
	</div>
	
	<div id="box">
		<template id="updatePayPwdTemplate">
			<form action="javascript:void(0)" id="form">
				<div class="group">
					<div class="group-item">
						<div class="group-rowspan">
							<div class="group-colspan">
								<input type="tel" class="userpwdrealoriginal form-control-noborder" name="userpwdrealoriginal" id="userpwdrealoriginal" v-model="userpwdrealoriginal" maxlength="6" @keyup="userpwdrealoriginalKeyup" proving="0" placeholder="请输入原支付密码" style="width:100%">
							</div>
						</div>
					</div>
					<div class="group-item">
						<div class="group-rowspan">
							<div class="group-colspan">
								<input type="tel" class="userpwd userpwdreal form-control-noborder" name="userpwdreal" id="userpwdreal" v-model="userpwdreal" maxlength="6" @keyup="userpwdrealKeyup" proving="0" placeholder="请输入新的6位数字支付密码" style="width:100%">
							</div>
						</div>
					</div>
					<div class="group-item">
						<div class="group-rowspan">
							<div class="group-colspan">
								<input type="tel" class="userpwd userconfirmpwdreal form-control-noborder" name="userconfirmpwdreal" id="userconfirmpwdreal" v-model="userconfirmpwdreal" maxlength="6" @keyup="userconfirmpwdrealKeyup" proving="0" placeholder="请再次输入新支付密码" style="width:100%">
							</div>
						</div>
					</div>
				</div>
				
				<div class="group group-transparent">
					<div class="group-item">
						<div class="group-rowspan">
							<div class="group-colspan">
								<button type="button" class="button button-fill button-block disabled" :class="{disabled:isabled}" @click="ok">确认修改</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</template>
		<my-updatepaypwd></my-updatepaypwd>
	</div>
	
	<script type="text/javascript" src="/h5/javascripts/require.js"></script>
	<script type="text/javascript" src="/h5/javascripts/app.js"></script>
	<script type="text/javascript">
		requirejs(['account/settings/updatePayPwd']);
	</script>
</body>
</html>