<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>常见问题</title>
    <link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
    <link rel="stylesheet" type="text/css" href="/h5/styles/jumi.css">
</head>

<body>


    <div id="box" style="padding-bottom: 4.75rem;">
        <div class="group">
            <div class="group-item">
                <div class="group-rowspan">
                    <div class="group-colspan">
                        <div id="faqCon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/h5/javascripts/require.js"></script>
    <script type="text/javascript" src="/h5/javascripts/app.js"></script>
    <script type="text/javascript">
        requirejs(['jquery', 'scrolltotop'], function ($, scrolltotop) {

            $.ajax({
                url: "/common/getH5Controller",
                type: "post",
                dataType: "json",
                success: function (data) {
                    // console.log(data);
                    if (data.code == "0000") {
                        $("#faqCon").html(data.data[1].h5content);
                    }
                }
            })
        });
    </script>
</body>

</html>