<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>详情</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
</head>
<body>
	
		<template id="contentappTemplate">
			<div class="group group-noborder">	
				<div class="group-item">{{{data}}}</div>
			</div>			
		</template>
		<my-contentapp></my-contentapp>
	
	<script type="text/javascript" src="/h5/javascripts/require.js"></script>
	<script type="text/javascript" src="/h5/javascripts/app.js"></script>
	<script type="text/javascript">
		requirejs(['jquery','getPara','vue'],function($,getPara,vue){
			var para = getPara.get();
			var parainit = {
				requestSource: 'APP',
				id: para.id,
				type:para.type
            };
            var url = '';

            if(localStorage.fromapp == 'ios'){
                url = "/common/getContent";
            } else {
                url = "/common/getContent";
            }
            
			$.ajax({
				url:url,
				type:'post',
				dataType:'json',
				data:parainit,
				success:function(data){
					// console.log(data);
					if(data.code == '0000'){
						new vue({
							el:'body',
							components:{
								'my-contentapp':{
									template:'#contentappTemplate',
									data:function(){
										return {
											data:data.data
										}
									}
								}
							},
							ready:function(){

							}
						})
					}else{
						console.log(data.msg);
					}
			
					
				}
			})
		});
	</script>
</body>
</html>