<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title>发起人信息</title>
<link rel="apple-touch-icon-precomposed" href="/h5/images/logoface.png">
<link rel="stylesheet" type="text/css"	href="/h5/styles/jumi.css">
</head>
<body>
	<!-- loading -->
	<div id="myloading" class="loading">
		<img src="/h5/images/loading.gif" alt="" width="100"/>
	</div>
	
	<template id="zpfTemplate">
		<div class="group group-left group-small width60">
			<div class="group-item">
				<div class="group-rowspan">
					<div class="group-colspan">
						<img src="/h5/images/producers.png" data-src="{{data.litpicPath}}" alt="产品图片" class="async" style="width:4rem;height:4rem;border-radius:6px;"/>
					</div>
					<div class="group-colspan">
						<h3>{{data.realname}}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="group">
			<div class="group-item">
				<div class="group-rowspan">
					<div class="group-colspan"><h3>简介</h3></div>
				</div>
				<div class="group-rowspan">
					<div class="group-colspan">{{data.content}}</div>
				</div>
			</div>
		</div>
		
		<div class="group">
			<div class="group-item">
				<div class="group-rowspan">
					<div class="group-colspan"><h3>附件</h3></div>
				</div>
				<div class="group-rowspan">
					<div class="group-colspan">
						<img src="/h5/images/default11.jpg" v-if="data.file1" data-src="{{data.file1}}" alt="" width="100%" class="async" style="margin-bottom:1rem;"/>
						<img src="/h5/images/default11.jpg" v-if="data.file2" data-src="{{data.file2}}" alt="" width="100%" class="async" style="margin-bottom:1rem;"/>
						<img src="/h5/images/default11.jpg" v-if="data.file3" data-src="{{data.file3}}" alt="" width="100%" class="async"/>
					</div>
				</div>
			</div>
		</div>
		
		<div class="group">
			<div class="group-item">
				<div class="group-rowspan">
					<div class="group-colspan"><h3>发起项目</h3></div>
				</div>
				<div class="group-rowspan">
					<div class="group-colspan">
						<a v-for="item in itemlist" href="/h5/views/invest/invest.html?itemId={{item.id}}" class="initiator-items">
							<img src="/h5/images/default11.jpg" width="100%" data-src="{{item.imagePath1610}}" class="async">
							<p class="txt-rowspan1 font-12">{{item.showName}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</template>
	<my-zpf></my-zpf>
	
	<script type="text/javascript" src="/h5/javascripts/require.js"></script>
	<script type="text/javascript" src="/h5/javascripts/app.js"></script>
	<script type="text/javascript">
		requirejs(['invest/initiator']);
	</script>
</body>
</html>